# Testing

In [3]:
import bomy

In [4]:
df = bomy.ret_binance_spot('BTCUSDT', '1H', '2024-01-01')

2024-10-22 19:10:47: bomyPandas init...
2024-10-22 19:10:47:  <class 'pandas.core.frame.DataFrame'>
2024-10-22 19:10:47: bomyPandas columns -->
---------------------------------------
index: int64
Open Time: datetime64[ns]
Open: float64
High: float64
Low: float64
Close: float64
Volume: float64
Close Time: datetime64[ns]
Quote Asset Volume: object
Number of Trades: int64
Taker Buy Base Asset Volume: object
Taker Buy Quote Asset Volume: object
Ignore: object
ts_date: datetime64[ns]
---------------------------------------
2024-10-22 19:10:47: bomyPandas done...

In [5]:
df

,index,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker Buy Base Asset Volume,Taker Buy Quote Asset Volume,Ignore,ts_date
0,0,2024-01-01 00:00:00,42283.58,42554.57,42261.02,42475.23,1271.68108,2024-01-01 00:59:59.999,53957248.97378900,47134,682.57581000,28957416.81964500,0,2024-01-01 00:59:59.999
1,1,2024-01-01 01:00:00,42475.23,42775.00,42431.65,42613.56,1196.37856,2024-01-01 01:59:59.999,50984893.34814160,50396,712.32227000,30355645.34827640,0,2024-01-01 01:59:59.999
2,2,2024-01-01 02:00:00,42613.57,42638.41,42500.00,42581.10,685.21980,2024-01-01 02:59:59.999,29167377.97323750,29863,288.98864000,12301017.29976200,0,2024-01-01 02:59:59.999
3,3,2024-01-01 03:00:00,42581.09,42586.64,42230.08,42330.49,794.80391,2024-01-01 03:59:59.999,33709050.27411360,38620,356.37209000,15112996.37584990,0,2024-01-01 03:59:59.999
4,4,2024-01-01 04:00:00,42330.50,42399.99,42209.46,42399.99,715.41760,2024-01-01 04:59:59.999,30271621.00073900,36038,371.12012000,15703618.93198530,0,2024-01-01 04:59:59.999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7052,7052,2024-10-20 20:00:00,68508.30,68900.00,68461.93,68781.98,482.77596,2024-10-20 20:59:59.999,33184905.76984890,76142,308.59805000,21211159.21294640,0,2024-10-20 20:59:59.999
7053,7053,2024-10-20 21:00:00,68781.98,68870.00,68658.00,68770.00,463.65363,2024-10-20 21:59:59.999,31873385.12801980,61722,227.37126000,15628996.12785000,0,2024-10-20 21:59:59.999
7054,7054,2024-10-20 22:00:00,68770.00,69400.00,68600.00,69137.28,2772.83894,2024-10-20 22:59:59.999,191443929.46139650,310985,1653.59720000,114174654.98636330,0,2024-10-20 22:59:59.999
7055,7055,2024-10-20 23:00:00,69137.28,69196.16,68923.32,69031.99,934.63300,2024-10-20 23:59:59.999,64548976.18358500,175457,514.75110000,35550960.94647580,0,2024-10-20 23:59:59.999
7056,7056,2024-10-21 00:00:00,69032.00,69519.52,68972.56,69160.00,1511.98728,2024-10-21 00:59:59.999,104745596.63735610,189853,956.41668000,66260437.18535280,0,2024-10-21 00:59:59.999